<div class="footer" ng-if="!footer.$state.params.hideFooter">
    <ul class="footer--logo">
        <li class="footer--logo__row">
            <div class="footer--logo__wrapper"></div>
        </li>
        <li class="footer--logo__row">Ювелирный гипермаркет</li>
        <li class="footer--logo__row">© love.sl 2008-2015</li>
    </ul>
    <ul class="footer--nav">
        <li><a href="http://club.love.sl/">Клуб Sunlight</a></li>
        <li><a href="http://club.love.sl/rules">Правила клуба</a></li>
        <li><a href="http://club.love.sl/login">Регистрация</a></li>
    </ul>

    <div class="list-group"><!--
        --><div id="list-second" class="list">
            <ul>
                <li><a ui-sref="club.info">КЛУБ SUNLIGHT</a></li>
                <li><a href="http://love-sl.ru/actions/">АКЦИИ</a></li>
                <li><a href="http://love-sl.ru/certificate/">ПОДАРОЧНАЯ КАРТА</a></li>
                <li><a href="http://love-sl.ru/video/" rel="nofollow">ВИДЕО</a></li>
            </ul>
        </div><!--
        --><div id="list-third" class="list">
            <ul>
                <li><a href="http://love-sl.ru/jobs/">ВАКАНСИИ</a></li>
                <li><a href="http://love-sl.ru/partner/">ПАРТНЕРАМ</a></li>
                <li><a href="http://love-sl.ru/company/quality/">СЕРТИФИКАЦИЯ</a></li>
                <li><a href="http://love-sl.ru/sitemap.php">КАРТА САЙТА</a></li>
            </ul>
        </div><!--
        --><div id="list-fourth" class="list">
            <ul>
                <li><a href="http://love-sl.ru/company/">О SUNLIGHT</a></li>
                <li><a href="http://love-sl.ru/callcenter/">КЛИЕНТСКАЯ СЛУЖБА</a></li>
                <li><a href="http://love-sl.ru/shops/service/">СЕРВИС-ЦЕНТР</a></li>
                <li><a href="http://love-sl.ru/ask/">ОТЗЫВЫ О SUNLIGHT</a></li>
                <li><a href="http://love-sl.ru/faq/">СОВЕТЫ</a></li>
            </ul>
        </div><!--
        --><div id="list-fifth" class="list">
            <ul>
                <li><a href="http://brilliant-life.livejournal.com/" rel="nofollow" target="_blank"><span
                        class="pic lj"></span>LIVEJOURNAL</a></li>
                <li><a href="http://vk.com/club32124003" rel="nofollow" target="_blank"><span class="pic vk"></span>ВКОНТАКТЕ</a>
                </li>
                <li><a href="http://www.facebook.com/SUNLIGHT.Brilliant" rel="nofollow" target="_blank"><span
                        class="pic fb"></span>FACEBOOK</a></li>
                <li><a href="http://www.youtube.com/user/sunlightBrilliant" rel="nofollow" target="_blank"><span
                        class="pic yt"></span>YOUTUBE</a></li>
                <li><a href="http://www.odnoklassniki.ru/sunlightbrilliant" rel="nofollow" target="_blank"><span
                        class="pic ok"></span>ОДНОКЛАССНИКИ</a></li>
                <li><a href="http://instagram.com/sunlightbrilliant" rel="nofollow" target="_blank"><span
                        class="pic ig"></span>INSTAGRAM</a></li>
                <li><a href="http://twitter.com/sunlightbrillia" rel="nofollow" target="_blank"><span
                        class="pic tw"></span>TWITTER</a></li>
                <li><a href="https://plus.google.com/109818786101582835959" rel="publisher" target="_blank"><span
                        class="pic gg"></span>GOOGLE+</a></li>
            </ul>
        </div><!--
    --></div>
</div>