.main--header{

  margin-bottom: 60px;

  .header--nav{
    position: absolute;
    right: 0;
    top: 0;

    @media @mobile{
      position: inherit;
      text-align: center;
    }
  }
  .header--nav__item{
    display: inline-block;
    color: #999;
    margin: 0 5px;
  }
}
.header--logo{
  cursor: pointer;
  width: 10%;
  min-width: 184px;
  height: 41px;
  background: url('http://cdn1.love.sl/love.sl/lookbook/images/logo.svg') 0 0 no-repeat;
  background-size: 184px 41px;
  display: block;
  margin: 10px auto;

  @media @tablet{
    margin-top: 15px;
    position: absolute;
    min-width: 220px;
    height: 55px;
    background-size: 220px 55px;
  }

  @media @mobile {
    position: relative;
    margin-left: 50%;
    left: -92px;
  }

  @media @desktop-xl{
    float: left;
    margin: 10px 0.5% 0;
  }
}

.header--sitemenu{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: rgb(102, 102, 102);
  display: block;
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 41px;
  margin: 10px 0 10px;
  vertical-align: top;
  text-align: center;

  @media @tablet{
    text-align: center;
    line-height: 20px;
    width: auto;
    margin: 5px 0 20px 194px;
    display: block;
  }

  @media @mobile{
    display: block;
    margin: 0 auto;
  }

  @media @desktop-xl{
    text-align: right;
    float: right;
    width: auto;
  }

  &>.item{
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;

    @media @tablet{
      margin: .75% .11%;
      min-width: 0;
      line-height: 20px;
      width: 33%;
    }

    @media @mobile{
      width: 33.2%;
    }

    @media @desktop-xl{
    }

    &>a{
      display: block;
      color: rgb(42, 42, 42);
      &:hover{
        color: rgb(17, 17, 17);
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
      }
    }
  }
}