<div class="header--container" ng-if="!header.$state.params.hideHeader">
    <a class="header--logo" href="http://love.sl/"></a><!--
    --><nav class="header--sitemenu"><!--
        --><div class="item item-catalog" aria-haspopup="false"><a href="http://love-sl.ru/catalog/">Каталог</a></div><!--
        --><div class="item item-rings" aria-haspopup="false"><a href="http://love-sl.ru/catalog/category/rings/">Кольца</a></div><!--
        --><div class="item item-earrings" aria-haspopup="false"><a href="http://love-sl.ru/catalog/category/earrings/">Серьги</a></div><!--
        --><div class="item item-chains" aria-haspopup="false"><a href="http://love-sl.ru/catalog/?product_type=319" rel="nofollow">Цепи</a></div><!--
        --><div class="item item-charms" aria-haspopup="false"><a href="http://love-sl.ru/catalog/?collection=5167" rel="nofollow">Шармы</a></div><!--
        --><div class="item item-clock" aria-haspopup="false"><a href="http://love-sl.ru/catalog/clock/">Часы</a></div><!--
        --><div class="item item-chance" aria-haspopup="false"><a href="http://love-sl.ru/catalog/hitprice.html">Хит цена</a></div><!--
        --><div class="item item-actions" aria-haspopup="false"><a href="http://love-sl.ru/actions/">Акции</a></div><!--
        --><div class="item item-shops" aria-haspopup="false"><a href="http://love-sl.ru/shops/locator.php">Магазины</a><!--
        --></div><!--
    --></nav>
</div>