.transition(@ms: 300ms){
  -webkit-transition: all @ms;
  -moz-transition: all @ms;
  -ms-transition: all @ms;
  -o-transition: all @ms;
  transition: all @ms;
}
.look{
  position: relative;
  overflow: hidden;
}

.look--slider{
  position: relative;
  .transition(150ms);
}
.look--slide{
  display: none;
  height: 100%;
  background: #fff no-repeat 0 0;
  background-size: contain;
  position: absolute;
}
.look--slide__previous{
  margin-left: -200px;
  display: block;
  cursor: pointer;
  opacity: .6;
  .transition;
  &:hover{
    opacity: 1;
    .transition;
  }
}
.look--slide__current{
  display: block;
  opacity: 1;

  .look--slide__items-wrapper{
    opacity: 1;
  }
}
.look--slide__next{
  display: block;
  cursor: pointer;
  opacity: .6;
  .transition;
  &:hover{
    opacity: 1;
    .transition;
  }
}
.look--header{
  position: absolute;
  top: 20px;
  right: -5px;
  border-right: 5px #000 solid;
  padding: 10px;
  background: rgba(255,255,255,0.8);
}
.look--slide__picture{
  position: absolute;
  top: -10000px;
}
.look--slide__items-wrapper{
  position: absolute;
  overflow: hidden;
  left: -210px;
  top: 0;
  width: 200px;
  height: 100%;
  opacity: 0;
}
.look--slide__items{
  width:260px;
  overflow-y: scroll;
  height: 100%;
  background: #fff;
}
.look--slide__item{
  display: inline-block;
  width: 200px;
  padding: 5px;
  margin: 5px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;
  cursor: pointer;
  color: #555;

  &:first-child{
    margin-top: 30px;
  }
  &:last-child{
    margin-bottom: 30px;
  }
  &:hover{
    color: #111;
  }
}
.look--slide__item-image{

}
.look--slide__item-image img{
  max-width: 75px;
  float: left;
}
.look--slide__item-caption{

}
.look--slide__item-header{
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: .75em;
  margin-left: 80px;
  font-weight: 100;
}
.look--slide__item-price{
  font-size: .9em;
  margin-left: 80px;
  margin-top: 5px;
}
.look--slide__elements{

}
.look--footer{

}
.look__horizontal{
  .look--slide__items-wrapper{
    position: relative;
    width: 100%;
    height: auto;
  }
}